/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header{
	position: relative;
	.c-logo{
		background: #000;
		width: 150px;
		height: 200px;
		cursor: pointer;
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		&.is-show{
			z-index: 11;
		}
		&__logo{
			svg{
				height: 38px;
				width: 92px;
			}
		}
		&__text{
			margin-top: 24px;
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 1rem;
		    text-align: justify;
		    width: 69px;
		}
	}
}
/*
------------------------------------------------------------*/
