/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*c-mv
------------------------------------------------------------*/
.c-mv{
	width: 100%;
	height: 100vh;
	position: relative;
	background: #0089cd;
	&__text{
		width: 100%;
		height: 100%;
		padding-left: 10%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h2{
			color: #FFF;
			font-size: 10vw;
			line-height: 1;
			font-weight: bold;
			position: relative;
			z-index: 9;
		}
		h3{
			color: #FFF;
			font-size: 5rem;
		}
		p{
			color: #FFF;
			font-size: 1.1rem;
			line-height: 1.5;
			font-weight: bold;
			text-transform: uppercase;
			max-width: 50.5%;
		}

		.js-text{
			span{
				display: inline-block;
				overflow: hidden;
				b{
					display: block;
					animation: textMV 0.5s ease-in-out forwards;
					transform: translateY(100%);
				}
				@for $i from 1 through 15{
					&:nth-of-type(#{$i}){
						b{
							animation-delay: 0.1s * $i;
						}
					}
				}
			}
			@keyframes textMV {0%{transform: translateY(100%);display: none;}100%{transform: translateY(0%);display: block;}}
		}
	}
}

/*c-slider
------------------------------------------------------------*/
.c-slider{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 10;
	img{
		display: none;
	}
	.js-slider{
		&__dotted{
			width: 100%;		
			span{
				display: block;
				width: 10px;
				height: 10px;
				margin: 15px auto 0;
				background: #FFF;
				border-radius: 50%;
				opacity: 0.5;
				position: relative;
				transition: opacity 0.5s;			
				&:before{
					content: "";
					width: 100%;
					height: 100%;
					background: #FFF;
					border-radius: 50%;
					transform: scale(2);
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity 0.5s;
				}
				&.is-active{
					opacity: 1;
					&:before{
						opacity: 0.4;
					}
				}
			}
		}
	}
}